{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>All Questions</h2>

    <div class="feeds">
      {%- for question in questions %}      
        <div class="item">
          <div>
            <a href="/questions/{{ question.id }}">{{ question.title }}</a>  
          </div>
          <div>
            <p>{{ question.description }}</p>
          </div>
        </div>
      {%- endfor %}
    </div>
    <p>
      <a href="{{ url_for('question') }}" class="btn btn-primary">Add Question</a>
    </p>
</div>
{% endblock %}
